
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

.container-web{
   
   background-image: url(./bg_test.jpg);
  height: 400px;
   background-size: cover;
   background-position:0px -170px;
   position:sticky;
   top: -120px;
   transition: all .3s ease-in-out;

 
  

}
.top-section{
    position: relative;
    top: 0;
    height: 40px;
    background-color:  rgb(5, 196, 5);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.top-section :nth-child(2){

    font-size: 15px;
    text-align: center;
    color: white;
   
}


.top-section ul{
    width: 200px;
    height: 40px;
    gap: 10px;
    display: flex;
    align-items: end;
    justify-content: center;
    list-style: none;
   
}


.nevbar img{
    width: 18%;
    
}


.nevbar {

    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding-inline: 8rem;
    margin-top: 40px;
    background-color: rgb(255, 255, 255);

    opacity: .6;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    
    
}
.nevbar ul{
    display: flex;
    align-items: center;
    height: 110px;
    justify-content: space-between;
    width: 60%;
    list-style: none;
    
}
.nevbar ul li a{
    text-decoration: none;
    color: black;
}
.nevbar ul li a:hover{
    color: green;
    text-decoration: underline;
}

/* -----------card-section------ */

.card-section{
    display: flex;
    justify-content: center;
    padding-inline: 100px;
    gap: 30px;
    background-color:  rgb(241, 239, 239);
    padding-top: 60px;
    height: 95vh;
    position: relative;
   


   
   
}
.card-text{
    text-align: left;
    font-size: 15px;
}

.card-body a{
    width: 150px;
}
.card-body a:hover{
    background-color: green;
    color: black;
    transition: all 0.3s ease-in-out;
}
/* ----------footer----------- */

.footer{
    background-color: rgba(22, 22, 22, .95);
    height: 300px;
    display: flex;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: space-around;
    gap: 120px;
}
.footer .right{

    height: 250px; 
}

.footer .right img{
    width: 200px;
    margin-bottom: 20px;
}

.footer .right h6{
    font-size: 16px;
    color: rgb(184, 180, 180);
    line-height: 13px;
}



.footer .left{
    display: flex;
    flex-direction: column;
    height: 250px;
    
    
}
.footer .left ul{
    display: flex;
    align-items: center;
    list-style: none;
    
}

.footer .left ul li img{
    width: 100px;
}

.bottom-section{

    height: 50px;
    background-color: rgba(10, 10, 10, 0.95);
    padding-inline: 120px;
    display: flex;
    align-items: center;
    justify-content:  space-between;
    color: rgb(184, 180, 180);
   
    
}


.bottom-section .ryt a{

    text-decoration: none;
    color: rgb(184, 180, 180);
    
}

.bottom-section .ryt a:hover{

    text-decoration: underline;
    color:  white;
    transition: all 0.3s ease-in-out;
    
}
.bottom-section .ryt{
    display: flex;
    gap: 30px;
}

/* -------------------------------responsive------------------------------- */


